Questão 1: Para carregar os arquivos CSV's sem a necessidade deles estarem baixados no computador, upei eles no meu repositio do github, e os carreguei a partir de la.

Tive um erro ao tentar importar  pelo link "https://github.com/LuanCantalice/ProjetoEstatistica/blob/main/datatran2019.csv" mas ao importar pelo raw, o erro foi solucionado.

In [1]:
import pandas as pd
import numpy as np

detran2018 = pd.read_csv('https://raw.githubusercontent.com/LuanCantalice/ProjetoEstatistica/main/datatran2018.csv', sep=';', encoding = 'ISO-8859-1')
detran2019 = pd.read_csv('https://raw.githubusercontent.com/LuanCantalice/ProjetoEstatistica/main/datatran2019.csv', sep=';', encoding = 'ISO-8859-1')
detran2020 = pd.read_csv('https://raw.githubusercontent.com/LuanCantalice/ProjetoEstatistica/main/datatran2020.csv', sep=';', encoding = 'ISO-8859-1')

Questão 2: A) Quantos acidentes ocorreram em cada ano?

Basta usar o 'len' para saber a quantidade de linhas

In [2]:
print("Total de acidentes em 2018 :", len(detran2018))

Total de acidentes em 2018 : 69295

In [3]:
print("Total de acidentes em 2019 :", len(detran2019))

Total de acidentes em 2019 : 67446

In [4]:
print("Total de acidentes em 2020 :", len(detran2020))

Total de acidentes em 2020 : 63548

B) Quantas variáveis cada conjunto de dados registra?

As váriaveis são as colunas dos DF's, para isso, basta usar o '.columns'. juntamente com o 'len'

In [5]:
len(detran2018.columns)

30

In [6]:
len(detran2019.columns)

30

In [7]:
len(detran2020.columns)

30

C) quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?

Basta usar o 'value_counts()' para obter o numero dos acidentes e passar o '.head() para obter as 5 cidades.

In [8]:
acidentes2018 = detran2018['municipio'].value_counts().head()
acidentes2018

CURITIBA     1019
SAO JOSE      874
BRASILIA      867
GUARULHOS     755
PALHOCA       688
Name: municipio, dtype: int64

In [9]:
acidentes2019 = detran2019['municipio'].value_counts().head()
acidentes2019

CURITIBA     1094
BRASILIA     1090
SAO JOSE      819
GUARULHOS     717
SERRA         633
Name: municipio, dtype: int64

In [10]:
acidentes2020 = detran2020['municipio'].value_counts().head()
acidentes2020

BRASILIA     1040
CURITIBA      950
GUARULHOS     639
SAO JOSE      629
PALHOCA       593
Name: municipio, dtype: int64

D) Quantos acidentes com feridos graves aconteceram na Paraíba em 2019?

Basta selecionar o municipio do paraiba, quando a variavel 'feridos_graves' for maior que 0 e novamente usar o 'len' para saber a quantidade de feridos. (linhas)

In [11]:
#Seleciono somente os municipios da Paraíba.

detran2019pb = detran2019['uf']=='PB'
new_df = detran2019[detran2019pb]

#Seleciono somente os feridos graves.

dfFeridosGraves = new_df['feridos_graves'] > 0
newdf2 = new_df[dfFeridosGraves]
len(newdf2) #quantidade de feridos.

414

3) A) ranking de acidentes por estado para todos os anos (um só arquivo combinando a informação dos três anos);

Pego a quantidade de acidentes por municipio de cada ano com o value_counts() e depois monto um df com esses dados, depois utilizo o '.sort_values(by = ['2018','2019','2020']).loc[::-1,:]' para organizar os dados em ordem decrescente, formando assim o ranking.

In [36]:
acd18 = detran2018['uf'].value_counts()
acd19 = detran2019['uf'].value_counts()
acd20 = detran2020['uf'].value_counts()
dados = {'2018':acd18, '2019':acd19, '2020':acd20}
acidentes = pd.DataFrame(dados).sort_values(by = ['2018','2019','2020']).loc[::-1,:]
acidentes.to_csv('ranking.csv',sep=';') #salvando em CSV
acidentes

    2018  2019  2020
MG  9066  8720  8374
SC  8497  8428  7220
PR  7952  7708  7190
RJ  4575  4606  4236
SP  4516  4377  4043
RS  4445  4595  4176
BA  3555  3471  3456
GO  3464  3354  3228
PE  2715  2736  2560
ES  2642  2842  2534
MT  2631  2137  2195
CE  1697  1694  1571
RO  1629  1533  1486
PB  1588  1564  1401
MS  1530  1435  1540
RN  1416  1437  1337
PI  1371  1346  1203
MA  1272  1075  1154
PA  1260   817   963
DF   867  1090  1040
AL   691   629   628
TO   589   520   595
SE   559   612   575
RR   236   237   250
AC   235   254   300
AP   173   128   155
AM   124   101   138

B) Acidentes por dia da semana para todos os anos (um só arquivo combinando a informação dos três anos).

Pego a quantidade de acidentes por dia da semana com o value_counts() e depois monto um df com esses dados, depois utilizo o '.sort_values(by = ['2018','2019','2020']).loc[::-1,:]' para organizar os dados em ordem decrescente, formando assim o ranking.

In [37]:
dia18 = detran2018['dia_semana'].value_counts() #dias de 2018
dia19 = detran2019['dia_semana'].value_counts() #dias de 2019
dia20 = detran2020['dia_semana'].value_counts() #dias de 2020
dados = {'2018':dia18, '2019':dia19, '2020':dia20}
acidentes = pd.DataFrame(dados).sort_values(by = ['2018','2019','2020']).loc[::-1,:]
acidentes.to_csv('rankingdias.csv',sep=';') #salvando em CSV
acidentes

                2018   2019   2020
domingo        11283  11298  10420
sábado         11239  11099  10667
sexta-feira    10632  10381   9764
segunda-feira   9422   9134   8519
quinta-feira    9230   8755   8244
quarta-feira    8824   8374   8155
terça-feira     8665   8405   7779

Questão 4) (A) Qual a causa mais frequente e a mais rara de acidentes registrados nos três anos?

Basta usar o idxmax() para obter a mais frequente e o idxmin() para a mais rara.

In [14]:
causas2018 = detran2018['causa_acidente'].value_counts()
print("Causa mais frequente em 2018:", causas2018.idxmax(), ", já a causa mais rara:", causas2018.idxmin())

Causa mais frequente em 2018: Falta de Atenção à Condução , já a causa mais rara: Ingestão de Substâncias Psicoativas

In [15]:
causas2019 = detran2019['causa_acidente'].value_counts()
print("Causa mais frequente em 2019:", causas2019.idxmax(), ", já a causa mais rara:", causas2019.idxmin())

Causa mais frequente em 2019: Falta de Atenção à Condução , já a causa mais rara: Ingestão de Substâncias Psicoativas

In [16]:
causas2020 = detran2020['causa_acidente'].value_counts()
print("Causa mais frequente em 2018:", causas2020.idxmax(), ", já a causa mais rara:", causas2020.idxmin())

Causa mais frequente em 2018: Falta de Atenção à Condução , já a causa mais rara: Acumulo de areia ou detritos sobre o pavimento

B) Qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos considerados? (proporção = numero de ilesos ou feridos graves/ número total de pessoas envolvidas no acidente);

Após procurar em foruns, vi que era possível transformar a coluna 'data_inversa' em data através do 'pd.to_datetime', tornando possivel fazer as manipulações necessárias pelo mês (através do dt.month)

Após isso, utilizei o 'groupby' para criar os grupos e poder realizar as operações.

In [17]:
detran2018['data_inversa'] = pd.to_datetime(detran2018['data_inversa'])
ileso18 = detran2018.groupby(detran2018['data_inversa'].dt.month)['ilesos'].sum()
grave18 = detran2018.groupby(detran2018['data_inversa'].dt.month)['feridos_graves'].sum()
totalpessoas18 = detran2018.groupby(detran2018['data_inversa'].dt.month)['pessoas'].sum()

In [18]:
ileso18/totalpessoas18 #proporção de ilesos de 2018 do mês 1 ao mês 12

data_inversa
1     0.513291
2     0.498256
3     0.481535
4     0.430159
5     0.422230
6     0.425097
7     0.437509
8     0.427051
9     0.420665
10    0.430178
11    0.433356
12    0.432916
dtype: float64

In [19]:
grave18/totalpessoas18 #proporção de feridos graves de 2018 do mês 1 ao mês 12

data_inversa
1     0.090609
2     0.092191
3     0.101853
4     0.112774
5     0.114457
6     0.116395
7     0.110295
8     0.106371
9     0.115453
10    0.112645
11    0.115405
12    0.108103
dtype: float64

In [20]:
#Ano de 2019:

detran2019['data_inversa'] = pd.to_datetime(detran2019['data_inversa'])
ileso19 = detran2019.groupby(detran2019['data_inversa'].dt.month)['ilesos'].sum()
grave19 = detran2019.groupby(detran2019['data_inversa'].dt.month)['feridos_graves'].sum()
totalpessoas19 = detran2019.groupby(detran2019['data_inversa'].dt.month)['pessoas'].sum()

In [21]:
ileso19/totalpessoas19 #proporção de ilesos de 2019 do mês 1 ao mês 12

data_inversa
1     0.424224
2     0.424104
3     0.433193
4     0.415685
5     0.415162
6     0.423757
7     0.436815
8     0.413084
9     0.421064
10    0.418922
11    0.425812
12    0.422265
dtype: float64

In [22]:
grave19/totalpessoas19 #proporção de feridos graves de 2019 do mês 1 ao mês 12

data_inversa
1     0.113264
2     0.106789
3     0.114599
4     0.105970
5     0.120750
6     0.121617
7     0.116670
8     0.116683
9     0.110656
10    0.119805
11    0.111047
12    0.114405
dtype: float64

In [23]:
#Ano de 2020:

detran2020['data_inversa'] = pd.to_datetime(detran2020['data_inversa'])
ileso20 = detran2020.groupby(detran2020['data_inversa'].dt.month)['ilesos'].sum()
grave20 = detran2020.groupby(detran2020['data_inversa'].dt.month)['feridos_graves'].sum()
totalpessoas20 = detran2020.groupby(detran2020['data_inversa'].dt.month)['pessoas'].sum()

In [24]:
ileso20/totalpessoas20 #proporção de ilesos de 2020 do mês 1 ao mês 12

data_inversa
1     0.415565
2     0.420011
3     0.401021
4     0.376267
5     0.401330
6     0.423283
7     0.424321
8     0.423414
9     0.416016
10    0.411006
11    0.407042
12    0.412292
dtype: float64

In [25]:
grave20/totalpessoas20 #proporção de feridos graves de 2020 do mês 1 ao mês 12

data_inversa
1     0.107463
2     0.111356
3     0.112575
4     0.117949
5     0.115942
6     0.115936
7     0.108617
8     0.119168
9     0.117388
10    0.119716
11    0.120385
12    0.121993
dtype: float64

C) Mostre, reorganizando o conjunto de dados, se a pandemia conseguiu diminuir ou não a incidência de acidentes nas rodovias federais.

Foram escolhidos os anos 2019 e 2020 para fazer essa questão, visto que a pandemia começou em março de 2020, e 2019 foi escolhido para fazer a comparação.

É possível notar que do mês 3 ao mês 7 houve uma queda no número de acidentes, após isso, o valor voltou a crescer. (Foi utilizado o 'dt.month.value_counts()' para obter o valor.

In [35]:
acd19 = detran2019['data_inversa'].dt.month.value_counts()
acd20 = detran2020['data_inversa'].dt.month.value_counts()
dados = {'2019':acd19, '2020':acd20}
acidentes = pd.DataFrame(dados)
acidentes

    2019  2020
1   5120  5497
2   4963  5467
3   5593  4790
4   5436  3883
5   5473  4657
6   5578  4734
7   5794  5127
8   5703  5643
9   5868  5689
10  5881  6120
11  5802  5745
12  6235  6196